<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <P>Username: {{ user.username }}</P>
        <P>Password: {{ user.password }}</P>
    </body>
</html>